<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="appointment">
      <form class="" action="/bookappointment" method="post">
        <table>
          <tr>
            <td>patient name:</td>
            <td> <input type="text" name="pname" value="">  </td>
          </tr>
          <tr>
            <td>consult:</td>
            <td> <input type="text" name="consult" value="">  </td>
          </tr>
          <tr>
            <td>disease:</td>
            <td> <input type="text" name="disease" value="">  </td>
          </tr>
          <tr>
            <td>time:</td>
            <td> <input type="text" name="apptime" value="">  </td>
          </tr>
        </table>
        <input type="submit" name="confirmappointment" value="confirm appointment">
      </form>
    </div>

    <div class="showappointment">

    </div>

  </body>
</html>
