<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hospital Management</title>
  </head>
  <body>
    <form class="" action="/login" method="post">
    <table>

      <tr>
        <td><label>doctor name: </label></td>
        <td><input type="text" name="dname" value="" autocomplete="off"></td>
      </tr>
      <tr>
        <td><label>password: </label></td>
        <td><input type="password" name="dpass" value="" autocomplete="off"></td>
      </tr>
    </table>
    <br>
      <input type="submit" name="Add" value="login">
    </form>
    <br>
    <br>
    <form class="" action="/register" method="post">
    <table>
      <tr>
       <td><label>doctor name: </label></td>
       <td><input type="text" name="rname" value="" autocomplete="on"></td>
      </tr>
      <tr>
       <td><label>designation: </label></td>
       <td><input type="text" name="designation" value="" autocomplete="on"></td>
      </tr>
      <tr>
       <td><label>status: </label></td>
       <td><input type="text" name="status" value="" autocomplete="on"></td>
      </tr>
      <tr>
        <td><label>password: </label></td>
        <td><input type="password" name="rpass" value="" autocomplete="on"></td>
      </tr>
    </table>
    <br>
    <input type="submit" name="Add" value="create account">
    </form>

  <form class="" action="/showdoctors" method="get">
    <input type="submit" name="show" value="show doctors">
  </form>



  </body>
</html>
